*{
    margin: 0;
}
.welcomeIntro{
    background-color: #183D3D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.welcomeIntro h1{
    font-size: 10rem;
    font-family: 'Poiret One', cursive;
    text-shadow: 3px 3px 0 #93B1A6;
    color:white;
}
.welcomeIntro p{
    margin-top: 25px;
    margin-left: 700px;
    font-size: 23px;
    font-family: 'Poppins';
    color:#93B1A6;
}
#hide{
    opacity: 1;
}
#hideMainContent{
    display: none;
}
.mainContent{
    height:100vh;
    background-color: #93B1A6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.containerOfContainers{
    width:30%;
    margin-bottom: 150px;
}
.calculatorButtons{
    background-color:#040D12;
    color:white;
    border-radius: 20px;
    box-shadow: inset 8px 15px black;
    padding: 5px 2px;
}
.header{
    font-size: 6rem;
    margin-bottom: 70px;
    margin-top: 80px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    text-shadow: 3px 4px 1px #183D3D;
    color:white;
}
.header:hover{
    color: #040D12;
    text-shadow: 2px 2px white;
    transition-delay: 200ms;
}
.screen{
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 8px 15px #183D3D;
    border: 4px solid #040D12;
}
.screenText{
    color:black;
}
#equalOperator{
    background-color:#183D3D;
    box-shadow: inset 2px 2px rgb(187, 226, 213);
    
}
#acButton{
    background-color:#93B1A6;
    border: 3px solid white;
    color:#040D12;
    box-shadow: none;
    font-weight: bolder;
    font-family: 'Poppins' , sans-serif;

}
#acButton:hover{
    color:white;
    box-shadow: inset 2px 2px white;
    transition-delay: 150ms;
}
.calculatorButtons:hover{
    background-color:#93B1A6;
    border: 1px solid white;
    box-shadow: inset 2px 2px white;
    transition-delay: 80ms;
}
@media only screen and (max-width: 480px){
    .welcomeIntro h1{
        font-size: 5rem;
    }
    .welcomeIntro p{
        margin-left: 0;
        font-size: 10px;
    }
    .header{
        font-size: 4rem;
    }
    .containerOfContainers{
        width:80%;
    }
}


